/* Sites layout
/* ---------------------------------------------------------- */

.sites-info-wrapper {
  max-width: 100%;
  width: 100%;
  padding: 20px;
  margin: 0;
  box-shadow: 0 0 1px 2px aliceblue;
}

.site-info-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.site-info-row:nth-of-type(2n) {
  background-color: lightgrey;
}

.site-header {
  font-weight: bold;
}
.site-info-row-item {
  flex: 1 1 100rem;
  position: relative;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
  padding: 5px 10px;
}

.site-info-row-item:nth-of-type(2n) {
  background: rgba(76,175,80,0.33);
  color: #4caf50;
  opacity: 0.9;
}
